<div class="sidebar sidebar-right">
    <div class="scrollable">
        <div class="scrollable-content">
            <div class="list-group" ui-turn-off="uiSidebarRight">
                <div data-ng-show="!authentication.isAuth">
                    <a class="list-group-item" href="#/login"> Login <i class="fa fa-chevron-right pull-right"></i></a>
                    <a class="list-group-item" href="#/signup"> Signup <i class="fa fa-chevron-right pull-right"></i></a>
                </div>
                <div data-ng-show="authentication.isAuth">                  
                    <a class="list-group-item" href="#" data-ng-click="logOut()"><i class="fa fa-sign-out"></i> Logout <i class="fa fa-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>